<div class="card mb-3">
  <div class="card-body">
    <div class="pt-4 pb-2">
      <h5 class="card-title text-center pb-0 fs-4">
        {{ text_returning_customer }}
      </h5>
      <p class="text-center small">{{ text_i_am_returning_customer }}</p>
    </div>

    <form
      class="row g-3 needs-validation"
      novalidate=""
      action="{{ action }}"
      method="post"
    >
      <div class="col-md-6">
        <label for="input-firstname" class="form-label">{{ entry_firstname }}</label>
        <div class="input-group has-validation">
          <input
            type="text"
            name="firstname"
            class="form-control"
            id="input-firstname"
            value="{{ firstname }}"
          />
          {% if error_firstname %}
           <div class="invalid-feedback">{{ error_firstname }}</div>
          {% endif %}
        </div>
      </div>

      <div class="col-md-6">
        <label for="input-lastname" class="form-label">{{ entry_lastname }}</label>
        <div class="input-group has-validation">
          <input
            type="text"
            name="email"
            class="form-control"
            id="input-lastname"
            value="{{ lastname }}"
          />
          {% if error_lastname %}
           <div class="invalid-feedback">{{ error_lastname }}</div>
          {% endif %}
        </div>
      </div>

      <div class="col-12">
        <label for="yourPassword" class="form-label">{{ entry_password }}</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="yourPassword"
          placeholder="{{ entry_password }}"
          value="{{ password }}"
          required=""
        />
        {% if error_email %}
          <div class="invalid-feedback">Please enter your password!</div>
        {% endif %}
      </div>

      <div class="col-12">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="remember"
            value="true"
            id="rememberMe"
          />
          <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Login</button>
      </div>
      <div class="col-12">
        <p class="small mb-0">
          Don't have account?
          <a href="{{ register }}">{{ button_continue }}</a>
        </p>
      </div>
    </form>
  </div>
</div>
<!-- select user cater -->


<div class="col-md-6 form-group required">
  <label class="form-label" for="input-telephone">{{ entry_account_type }}</label>
  <select class="form-control" name="user_type">
    <option value="">Select type</option>
    <option value="farmer">Farmer</option>
    <option value="Manufacturer">Manufacturer</option>
    <option value="Retailer">Retailer</option>
    <option value="Wholesaler">Wholesaler</option>
  </select>
  {% if error_account_type %}
    <div class="text-danger">{{ error_account_type }}</div>
  {% endif %}

</div>
