{# 
Here is a file location of all article page component
- extension/maza/blog/common/*

#}
{{ header }}
<div id="article-all" class="content">{{ include(template_from_string(mz_content)) }}</div>
{{ footer }}
