
@media (min-width: 1360px) {
	#entry_218240 {
		background-color: #fff;
	}
}

#entry_218239 {
	color: #000;
	background-color: #f2f2f2;
}

@media (min-width: 576px) {
	#entry_218239 {
		margin-bottom: 1rem;
		background-color: #fff;
	}
}

@media (min-width: 768px) {
	#entry_218239 {
		background-color: #fff;
	}
}

@media (min-width: 1024px) {
	#entry_218239 {
		background-color: #fff;
	}
}

@media (min-width: 1360px) {
	#entry_218239 {
		background-color: #fff;
	}
}

#entry_218243 {
	padding-top: 1.5rem;
}

@media (min-width: 768px) {
	#entry_218243 {
		margin-top: .1rem;
		margin-bottom: .1rem;
		padding-top: 0rem;
	}
}

#entry_218246 {
	margin-top: 3rem;
	margin-bottom: 2rem;
}

@media (min-width: 576px) {
	#entry_218246 {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
}

#entry_218248 {
	margin-right: 3.5rem;
}

#entry_218249 {
	margin-right: 3.5rem;
}

#entry_218250 {
	margin-right: 1rem;
	margin-left: 1rem;
}

#entry_218252 {
	margin-left: 3rem;
}

@media (min-width: 768px) {
	#entry_218247 {
		margin-top: .1rem;
		margin-bottom: .1rem;
	}
}

@media (min-width: 1360px) {
	#entry_218241 {
		margin-bottom: 1.5rem;
	}
}

#entry_218256 {
	margin-right: 2rem;
}

@media (min-width: 1024px) {
	#entry_218256 {
		padding: 1.5rem;
		color: #fff;
		background-color: #3bb77e;
	}
}

@media (min-width: 1360px) {
	#entry_218256 {
		margin-right: 3rem;
	}
}

@media (min-width: 1024px) {
	#entry_218255 {
		padding-right: 1.6rem;
	}
}

@media (min-width: 1360px) {
	#entry_218255 {
		padding-right: 1.6rem;
	}
}

@media (min-width: 1360px) {
	#entry_218258 {
		margin-left: 3rem;
	}
}

@media (min-width: 1360px) {
	#entry_218257 {
		padding-left: 3rem;
	}
}

#entry_218253 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	color: inherit;
	background-color: #fff;
}

@media (min-width: 576px) {
	#entry_218253 {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
}

@media (min-width: 768px) {
	#entry_218253 {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
}

@media (min-width: 1024px) {
	#entry_218253 {
		margin-bottom: 1rem;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
}

@media (min-width: 1360px) {
	#entry_218253 {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
}

#entry_218263 {
	color: #253d4e;
}

@media (min-width: 576px) {
	#entry_218263 {
		color: #253d4e;
	}
}

@media (min-width: 768px) {
	#entry_218263 {
		color: #253d4e;
	}
}

@media (min-width: 1024px) {
	#entry_218263 {
		color: #253d4e;
	}
}

#entry_218260 {
	color: #fff;
	background-color: #e56d33;
}

#entry_218268 {
	color: #fff;
	background-color: #e56d33;
}

#entry_217200 {
	margin-right: 7rem;
}

#entry_217202 {
	margin-left: 3.5rem;
}

#entry_217199 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

@media (min-width: 576px) {
	#entry_217206 {
		padding-right: 3rem;
		padding-left: 3rem;
	}
}

@media (min-width: 1024px) {
	#entry_217206 {
		padding-right: 0rem;
		padding-left: 0rem;
	}
}

#entry_217207 {
	margin-top: 2.5rem;
}

@media (min-width: 576px) {
	#entry_217207 {
		padding-right: 3rem;
		padding-left: 3rem;
	}
}

@media (min-width: 1024px) {
	#entry_217207 {
		padding-right: 0rem;
		padding-left: 0rem;
	}
}

#entry_217205 {
	margin-bottom: 4.7rem;
	border-bottom: 1px solid #ddd;
	padding-bottom: 4.7rem;
}

@media (min-width: 1024px) {
	#entry_217205 {
		border-bottom: 0px solid #ddd;
		padding-bottom: 0rem;
	}
}

#entry_217208 {
	margin-bottom: 4.7rem;
}

#entry_217210 {
	margin-bottom: 4.7rem;
}

#entry_217212 {
	margin-bottom: 4.7rem;
	border-top: 1px solid #ddd;
	padding-top: 4.7rem;
}

@media (min-width: 576px) {
	#entry_217212 {
		border-top: 0px solid #ddd;
		padding-top: 0rem;
	}
}

#entry_217217 {
	margin-bottom: 1.8rem;
}

#entry_217218 {
	padding-bottom: 1.8rem;
}

#entry_217220 {
	margin-bottom: 1.8rem;
}

#entry_217214 {
	padding-top: 1.8rem;
	color: inherit;
	background-color: #fff;
}
