:root{
    --active-color:#3bb77e;
    --text-color:;
}

.close.mz-modal-close:before{
    content:'';
}

.mm{
    flex-direction:column;
    align-items:start !important;
}

.img-thumbnail{
    padding:0 !important;
    border:none!important;
    background:none !important;
    box-shadow:none;
}

.form-control{
    padding:20px 10px;
    display:flex;
    align-items:center;
}

textarea.form-control {
    padding: 10px ;
}

.table a.asc:after, .table a.ASC:after{
    margin-left:10px;
}

.d-flex{
    display:flex;
    align-items:center;
}

.header-title{
    font-size:30px;
}

.header .buttons{
    margin-left:auto;
}

@media (max-width:576px){
    
    header{
        align-items:start;
        flex-wrap: wrap;
    }
    .header-title{
        font-size:24px;
    }
    
    .header .buttons{
        margin-block:10px;
        // margin-left:0;
    }
}

.h-40{
    height:40px;
}
.custom-control, .nav-pills.custom-pills-left .nav-link, body{
    font-size:14px !important;
}

.widget-html h4:only-child{
    color:#fff;
}
#entry_216699{
    margin-right:1rem;
}

@media (max-width:320px){
    .input-group>.custom-select, .input-group>.custom-file{
        width:80px;
    }
}

@media (max-width:768px){
    #entry_216729{
        margin-right:0 !important;
    }
    
    .order-sm-2{
        order: 2;
    }
}

.btn{
    font-size:14px !important;
    font-weight:500;
}

// .btn svg{
//     margin-left:10px;
// }

.content-list-grid .btn-default{
    font-size:15px;
}

.mt-2{
    margin-top:16px;
}

#search input[type='text']{
    padding-left:0 !important;
}
// container

.control-label{
    font-weight:600;
    font-size:16px;
    line-height:1.5;
    padding-block:10px
}

#entry_216825, #entry_216825{
    margin-top:0 !important;
}

#entry_215327{
    margin-left:0;
    margin-right:0;
}

#entry_215326, #entry_215324{
    margin-right:10px;
}

#entry_215722,#entry_217589, #entry_215828, #entry_215904, #entry_215880, #entry_215903,#entry_215934, #entry_216095, #entry_216118, #entry_216118{
    background:transparent !important;
}

#entry_215904, #entry_216063,#entry_216118, #entry_216095, #entry_216117, #entry_216118, #entry_216118, #entry_21753,#entry_217590{
    padding:0 !important;
    border:none !important;
}


.content-image .btn-wishlist{
    border:none !important;
}

#entry_217595{
    align-items:center;
}

#entry_216125{
    magin-right: 0 !important;
}

#entry_216989{
    border:none !important;
    background:transparent !important;
    padding:0;
}

@media (max-width:576px){
    #entry_216989{
        padding:0;
    }
}

.text-muted {
    color: #aba9a9 !important;
}

.product-product{
    #back-to-top {
        bottom: 12rem;

        @include media-breakpoint-up(md){
            bottom: 3.2rem;
        }
    }
}



@media (max-width:567px){
    .close.mz-modal-close{
        right:7px;
    }
    
    #entry_215318.align-items-center{
        align-items:end !important;
    }
}


//  breadcrumbs
.breadcrumb{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 2.25rem !important;
    list-style: none;
    border:none;
}

.breadcrumb li, .breadcrumb .breadcrumb-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb li a, .breadcrumb .breadcrumb-item a{
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

@media (max-width:576px){
    .breadcrumb li a, .breadcrumb .breadcrumb-item a{
        font-size:14px;
    }
}
.breadcrumb li+li, .breadcrumb .breadcrumb-item + .breadcrumb-item{
    align-items: center;
    justify-content: center;
     padding-left: 10px;
}


.breadcrumb li+li::before, .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    font-size: 20px;
    line-height: 1;
    color: rgb(118, 118, 118);
    font-weight: 500;
    content: "\203A";
    height: 100%;
    margin-top: 20px;
    margin-right:5px;
}

.breadcrumb li.active, .breadcrumb .breadcrumb-item.active, .nav-tabs li a.active{
    font-weight: 600;
    font-size: 16px;
    color: #3bb77e !important;
}

// navbar

.nav-tabs li + li{
    margin-left:15px;
}


.nav-tabs .nav-link{
    color:#253D4E;
    font-size:16px;
    font-weight:500;
}


.module-title, .nav-tabs .nav-link{
    text-transform:capitalize;
}

.nav-tabs .nav-link.active, .nav-tabs li.active{
    font-weight:600;
    font-size:16px;
}


// Product

.product-thumb .btn.btn-primary{
    padding:1rem;
    background:#DEF9EC;
    color:#3bb77e;
    border: 1px;
    font-size:14px;
}

.product-thumb .btn.btn-primary{
    width:40px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.product-item .product-thumb, .module-mz_category_wall a, 
.product-layout .product-thumb:hover, 
#entry_216825, .article-thumb,
.marketplace, .low_stock_row 
{
    box-shadow:0px 5px 25px 0px rgb(0 23 51 / 7%);
}

.marketplace .list-group{
    padding-block:15px;
}

.marketplace .list-group-item{
    padding: 10px !important;
}

.product-thumb .image img{
    width:100%;
    margin:0;
}

.product-thumb .title{
    line-height:1.25;
}

.product-thumb .title a{
    font-size:15px;
    font-weight:500;
    margin-top:15px;
}

.product-thumb .price-new{
    color:#3BB77E;
    font-size:18px;
    border:0;
}

.product-thumb .caption{
    padding:5px 12px 20px;
}

.product-thumb .rating{
    order:0;
    margin: 5px 0;
    letter-spacing:1px;
    font-size:14px;
}
.cart{
    flex-direction:row;
}

.cart .cart-icon{
    margin-right:5px;
}
.cart .cart-icon .cart-item-total
{
    top:-10px;
}


// product view

.content-quantity,.content-button{
    margin-bottom:0;
}
.content-image .image-gallery{
    border:none;
    background:transparent;
}
.content-image .btn-wishlist, .card {
    border:none !important;
}

@media (max-width:576px){
    #entry_215828{
        margin-bottom:30px;
        
    }
}
// module

.module-title{
    font-size:25px;
     margin-bottom:8px !important;
}



@media (max-width:576px){
    .module-title{
        font-size:20px;
        margin-bottom:10px;
    }
}

.module-mz_category_wall a{
    padding: 20px;
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    justify-content:center;

}

.module-mz_category_wall .figure h4{
    font-size:13px;
    padding-bottom:5px;
}

.module-mz_category_wall .figure h4 span{
    font-size:10px;
}

.module-mz_category_wall .figure .figure-img{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding:0;
}

.module-mz_article_listing .mz-tab-listing-content{
    margin-top:0;
}

.module-mz_category_wall .module-title{
    margin-bottom:5rem;
}

// swipper
.swiper-wrapper{
    padding:0 !important;
}
.swiper-slide{
    margin-right:15px !important;
    width:100%;
}

.swiper-slide img{
    width:100%;
    height:100%;
}

@media (max-width:567px){
     .hero-slider .swiper-slide{
        width:100% !important;
    }
    
    .swiper-slide{
        width:150px !important;
        margin-right:10px !important;
        height:auto !important;
    }
}


// featured
.feature-card-alpha{
    padding:20px 10px;
    -webkit-box-shadow:4px 8px 30px rgba(141,141,141,.1);
    box-shadow:4px 8px 30px rgba(141,141,141,.1);
    border-radius:5px;text-align:center;
    margin-top:24px;
    -webkit-transition:all .3s;
    transition:all .3s;
    position:relative;z-index:1;
    background:#3bb77e;
    color:#fff;
}

.feature-card-alpha::before{
    position:absolute;top:20px;right:20px;
    height:51px;
    width:44px;background-image:url(../images/icons/feature-shape.png);
    background-repeat:no-repeat;
    z-index:-1;content:""
    
}
.feature-card-alpha:hover{-webkit-transform:translateY(-4px);transform:translateY(-4px)}
.feature-card-alpha .feature-icon .fa{font-size:30px;}
.feature-card-alpha .feature-icon img{max-width:100%}
.feature-card-alpha .feature-content h5{font-weight:800; font-size:18px; padding-top:20px; color:#fff !important;}
.feature-card-alpha .feature-content p{
    padding-top:6px;
    font-family:var(--f-secondary);
    font-weight:500;
    font-size:14px;
    color:#fff;
    
}


//  badge & label
.content-extra .ls-label, .badge{
    font-weight:500;
    font-size:14px;
}


.product-thumb .product-thumb-top .carousel-indicators{
    display:none;
}


// category
.list-group-item{
    border:none !important;
    padding-inline:0rem !important;
}

.content-description li{
    line-height:1.5;
}

.content-description li + li{
    margin-bottom:10px;
}

// article

.article-thumb .metadata, .article-thumb .category,.article-thumb .title{
    margin-left:0;
    
}
.article-thumb .metadata .timestamp{
    position: relative;
    top:0;
    background: transparent;
    width:auto;
    min-height:auto;
    color:rgb(131,131,131);
    font-size:.875em;
}

.article-thumb .category{
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 5px;
    background: #3bb77e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    align-self: start;
    font-weight: 600;
}


.article-thumb .description{
    order: -1;
    margin-top:0;
}

.article-thumb .title{
    margin-bottom:1px;
    font-size:1em;
    margin-block:.875em;
    font-weight:500;
}

//  address

.address-book .buttons{
    display:flex;
    align-items:center;
    
}

// table

.table th, .table td{
      vertical-align: middle;
      padding: 15px 0 !important;
    //   padding-bottom:15px !important;
}
.table th, .table td + td{
    padding:5px 10px !important;
}

.table thead th, .table thead td, .table thead th a, .table thead td a, #checkout-cart thead th{
    color:#253d4e;
    font-size:14px;
    font-weight:600;
}

#checkout-cart thead th{
  font-size:14px;
  font-weight:600;
  text-transform:capitalize;
}

.content-extra ul{
    display:flex;
    align-items:center;
    gap:10px;
    flex-wrap:wrap;
}

.content-extra ul li{
    line-height: 1.5;
}


// .content-extra ul li + li{
//     margin-top:8px;
// }

.content-extra .badge{
    padding: 5px 6px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 400;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #6B6A75;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    box-shadow:none;
}

.border-0 {
    border: 0 !important;
}
.border-bottom-1 {
    border-bottom: 1px solid #ced4da !important;
}