<div class="buttons clearfix">
  <div class="float-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-lg btn-primary" />
  </div>
</div>
<script><!--
  $('#button-confirm').bind('click', function() {
    location.href = "{{ redirect }}";
  });
//--></script>
