{# 
Here is a file location of all products component

## Find All component of products page
- template/product/common/*

#}
{{ header }}
<div id="extension-maza-products" class="content">{{ include(template_from_string(mz_content)) }}</div>
{{ footer }}