$footer-headings-margin-bottom: $spacer * 1.375;

// Social
$social-link-icon-margin: $spacer * 0.375;
$social-link-icon-padding: $spacer * 0.8125;
$social-link-icon-size: 1.125em;

// Newsletter
$newsletter-button-padding: $btn-padding-y-lg $spacer * 1.875;
$newsletter-input-font-size: 0.875em;
$newsletter-input-background: $gray-300;
