$footer-bg-color: $black;
$footer-text-color: #777777;

$footer-headings-color: color-yiq($footer-bg-color);
$footer-headings-margin-bottom: $spacer * 1.375;
$footer-headings-font-size: $h6-font-size;

// Social
$social-link-icon-margin: $spacer * 0.375;
$social-link-icon-padding: $spacer * 0.8125;
$social-link-icon-size: 1.125em;

// Newsletter
$newsletter-button-padding: $btn-padding-y-lg $spacer * 1.5;
$newsletter-input-font-size: null;
$newsletter-input-background: #fff;
$newsletter-input-text-color: #aaaaaa;
$newsletter-input-padding: $spacer * 0.375;
